@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

button::before {
  transform-origin: center right;
  -moz-transform-origin: center right;
  -o-transform-origin: center right;
  -o-transform-origin: center right; }

.col-5 {
  width: 41.66%; }

.col-7 {
  width: 58.33%; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.clearfloat {
  overflow: auto; }

* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: url("http://bgfons.com/uploads/cloth/cloth_texture1068.jpg") center center no-repeat;
  font-family: "Montserrat", sans-serif;
  color: #fff; }

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border-radius: 5px;
  background-color: transparent; }
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out; }
  button:hover {
    cursor: pointer; }
  button:hover::before {
    transform-origin: center left;
    transform: scaleX(1); }

.form {
  display: block;
  position: relative;
  border: 2px solid #3cdef1;
  padding: 20px;
  border-radius: 30px;
  line-height: 3em;
  box-shadow: 0px 0px 18px #00e5ff, inset 0px 0px 18px #00e5ff;
  top: 5%; }
  @media (max-width: 375px) {
    .form-left {
      float: none !important;
      width: 100% !important; } }
  .form-left_header span {
    font-size: 1.7em;
    font-weight: bold; }
    .form-left_header span i {
      margin-right: 15px; }
  .form-left_body {
    display: block;
    position: relative; }
    .form-left_body__user {
      line-height: 2.2em; }
      .form-left_body__user input[type="email"], .form-left_body__user input[type="password"] {
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #3cdef1;
        color: #fff; }
        @media (max-width: 375px) {
          .form-left_body__user input[type="email"], .form-left_body__user input[type="password"] {
            width: 100%; } }
        .form-left_body__user input[type="email"]:focus, .form-left_body__user input[type="password"]:focus {
          box-shadow: 0px 0px 5px #3cdef1;
          transition: .2s all; }
      .form-left_body__user a {
        color: #ccc;
        text-decoration: none;
        font-size: 0.8em;
        position: relative; }
  .form-left_footer__r {
    max-width: 130px; }
    .form-left_footer__r button {
      border: 1px solid #f44336; }
      .form-left_footer__r button::before {
        background-color: #f44336; }
      .form-left_footer__r button:hover {
        box-shadow: 0px 0px 18px #f44336; }
  .form-right {
    display: grid;
    margin: 30px 0; }
    .form-right span {
      font-size: 1.7em;
      font-weight: bold; }
      .form-right span i {
        margin-right: 15px; }
    .form-right a {
      margin-top: 10px; }
      .form-right a button {
        padding: 0.5em 2em !important; }
        .form-right a button.twitter {
          border: 1px solid #1DA1F2; }
          .form-right a button.twitter::before {
            background-color: #1DA1F2; }
          .form-right a button.twitter:hover {
            box-shadow: 0px 0px 18px #1DA1F2; }
        .form-right a button.facebook {
          border: 1px solid #3B579D; }
          .form-right a button.facebook::before {
            background-color: #3B579D; }
          .form-right a button.facebook:hover {
            box-shadow: 0px 0px 18px #3B579D; }
        .form-right a button.github {
          border: 1px solid #24292E; }
          .form-right a button.github::before {
            background-color: #24292E; }
          .form-right a button.github:hover::before {
            box-shadow: 0px 0px 18px #24292E; }
        .form-right a button i {
          margin: 0 7px; }

/*# sourceMappingURL=1.css.map */