@import "responsive.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
$font-family: 'Montserrat', sans-serif;
$color: #fff;
$colorborder: #3cdef1;
$colorlink: #ccc;
$fontSize: 1.7em;
$fontSize2: .8em;
$colorButton: #f44336;
$twitter: #1DA1F2;
$facebook: #3B579D;
$github: #24292E;

%box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
%transform{
    transform-origin: center right;
    -moz-transform-origin: center right;
    -o-transform-origin: center right;
    -o-transform-origin: center right;
}
  .col-5 {width: 41.66%; } 
  .col-7 {width: 58.33%; }
  [class*="col-"] {
    float: left;
    padding: 15px; }
  
  .clearfloat {
    overflow: auto; }

*{ 
    @extend %box-sizing;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background: url("http://bgfons.com/uploads/cloth/cloth_texture1068.jpg") center center no-repeat;
    font-family: $font-family;
    color: $color;
}
button{
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    // left: 7em;
        &::before{
            @extend %transform;
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            // background-color: $colorButton;
            border-radius: 5px;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
        }
        &:hover{
            cursor: pointer;
            // box-shadow: 0px 0px 18px $colorButton, inset 0px 0px 18px $colorButton;
        }
        &:hover::before{
            transform-origin: center left;
            transform: scaleX(1);
        }
} 
.form{
    display: block;
    position: relative;
    border: 2px solid $colorborder;
    padding: 20px;
    border-radius: 30px;
    line-height: 3em;
    box-shadow: 0px 0px 18px #00e5ff, inset 0px 0px 18px #00e5ff;
    top: 5%;
    &-left{
        @include breakpoint(xs){
            float:none !important;
            width: 100% !important;
        }
        &_header{
            span{
                i{
                    margin-right: 15px;
                }
                font-size: $fontSize;
                font-weight: bold;
            }
        }
        &_body{
            display: block;
            position: relative;
            &__user{
                line-height: 2.2em;
                input[type="email"],input[type="password"]{
                    width: 80%;
                    padding: 10px;
                    border-radius: 5px;
                    border:none;
                    outline: none;
                    background: transparent;
                    border: 1px solid $colorborder;
                    color: $color;
                    @include breakpoint(xs){
                        width: 100%;
                    }
                    &:focus{
                        
                        box-shadow: 0px 0px 5px $colorborder;
                        transition: .2s all;
                    }
                }
                a{
                    color: $colorlink;
                    text-decoration: none;
                    font-size: $fontSize2;
                    position: relative;
                    
                }
            }
        }
        &_footer__l{

        }
        &_footer__r{
            max-width: 130px;
             button{
                 border: 1px solid $colorButton;
                 &::before{
                     background-color: $colorButton;
                 }
                 &:hover{
                      box-shadow: 0px 0px 18px $colorButton;
                 }
             }
        }
    }
    &-right{
        display: grid;
        margin: 30px 0;
        span{
            font-size: $fontSize;
            font-weight: bold;
            i{
                margin-right:15px;
            }
        }
        a{
            margin-top: 10px;
            button{
                padding: 0.5em 2em !important;              
                &.twitter{
                    border: 1px solid $twitter ;
                    &::before{
                        background-color: $twitter;
                    }
                    &:hover{
                         box-shadow:  0px 0px 18px $twitter;
                    }
                }
                &.facebook{
                    border: 1px solid $facebook;
                    &::before{
                        background-color: $facebook;
                    }
                    &:hover{
                        box-shadow: 0px 0px 18px $facebook;
                   }
                }
                &.github{
                    border: 1px solid $github;
                    &::before{
                        background-color: $github;
                    }
                    &:hover::before{
                        box-shadow: 0px 0px 18px $github;
                   }
                }
                i{
                    margin: 0 7px;
                }
                
            }
        }
    }
}

